Air Table & Errors.json
{
  "name": "Air Table & Errors",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        16
      ],
      "id": "d121bd68-253e-46ec-9416-e47c2f4d7058",
      "name": "Telegram Trigger",
      "webhookId": "f97a431d-9e3e-4b7e-9725-5411a00f69e0",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "telegramApi": {
          "id": "UHwQAMwN1GSvj0Vr",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"أنت مساعد ذكي. استلمت الرسالة التالية من التيليجرام: {{ $json.message.text }}.\nقم بصياغة رد مناسب وودي للعميل بناءً على رسالته، واجعل الرد يبدأ بكلمة 'عزيزي' ثم اسم العميل {{ $json.message.from.first_name }}.\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        64,
        16
      ],
      "id": "72ae3a77-ea10-4a0f-b91b-e53b10124a58",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "a3c3e1c7-3c36-4d6b-9d0f-1928b0909ead",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "avlGes9Y9aVSJWrR",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appaJ3EsIgMsf36oe",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://airtable.com/appaJ3EsIgMsf36oe"
        },
        "table": {
          "__rl": true,
          "value": "tblYAx6DO8ER5hu6G",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appaJ3EsIgMsf36oe/tblYAx6DO8ER5hu6G"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ $('Telegram Trigger').item.json.message.from.first_name }}",
            "Message Content": "={{ $('Telegram Trigger').item.json.message.text }}",
            "Ai Response": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message Content",
              "displayName": "Message Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ai Response",
              "displayName": "Ai Response",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        688,
        -128
      ],
      "id": "a112303c-b607-4f12-a72c-336f68f487ab",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "fE6xeYFEMRVA8Z3s",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        -176
      ],
      "id": "03a909d7-170e-4417-a190-4da4a665655f",
      "name": "Send a text message",
      "webhookId": "6f7456ec-6871-4943-9128-d10829f65d25",
      "credentials": {
        "telegramApi": {
          "id": "UHwQAMwN1GSvj0Vr",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "da303dc8-c2e3-4d07-a9d5-b56506989c17",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        16
      ],
      "id": "e8dcbbdb-9276-4c45-a005-eeb644d2c803",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-fih1z4UmXO1cyvS1fJ7Ob2DqEcwCBiNNVoJQKr_VUQ",
          "mode": "list",
          "cachedResultName": "Error Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-fih1z4UmXO1cyvS1fJ7Ob2DqEcwCBiNNVoJQKr_VUQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-fih1z4UmXO1cyvS1fJ7Ob2DqEcwCBiNNVoJQKr_VUQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Workflow": "Telegram Ai Bot Validation",
            "Error Message": "AI returned an empty response, message blocked from sending.\""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Node",
              "displayName": "Node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        0
      ],
      "id": "09fa1e80-baa9-4a2a-a5b4-65776b85f920",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x0Ov7ApJj9VuzSVp",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=🚨 AI Failure Alert! Workflow: Telegram AI Bot Issue: AI Agent returned an empty response. Time: {{ $now }} 🛠 Check Google Sheets for more details.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        176
      ],
      "id": "72cb6fbb-729b-4289-936c-2d63a565672e",
      "name": "Send a text message1",
      "webhookId": "2572671f-3b62-4061-8004-5f53c7f86742",
      "credentials": {
        "telegramApi": {
          "id": "UHwQAMwN1GSvj0Vr",
          "name": "Telegram account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "ZKQH2EwjUtdMhu4EgF31U"
  },
  "versionId": "12e2b6bb-e002-4431-afb0-27baff075912",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9aa2603dda94482e4b81f20d27acd5b407e83ff0532377f7ddea8d1bbabeeeee"
  },
  "id": "i4ANnB_5Bc_XW7DbTAJ8u",
  "tags": []
}